# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Bases de datos
*.sqlite
*.db
*.mdb
*.accdb

# Logs
*.log
logs/
Remesas/logs/

# Backups
backup/
datos/backup/

# Archivos temporales
*.tmp
*.bak

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db